[alias]
	st = status
	aa = add --all
	au = add -u
	cm = commit -m
	up = push -u

[color]
	ui = true

# Change these to your own details, obviously
[user]
	name = Jason Rhodes
	email = jason.matthew.rhodes@gmail.com
